<div class="container">
  <h1>New Question</h1>

  <form id="sign-up" method="post" action="/users">
    <label class="question label" for="query">Query</label>
    <input id="query-input" type="text" name="question[query]" placeholder="e.g., How do you write an if else statement in JavaScript?">
    <span id="name-errors" class="errors"></span>
    <br>

    <label class="question label" for="start_language">Start Language</label>
    <select name="question[start_language]">
      <option value="ruby">Ruby</option>
      <option value="javascript">JavaScript</option>
      <option value="python">Python</option>
      <option value="java">Java</option>
    </select>
    <br>

    <label class="question label" for="end_language">End Language</label>
    <select name="question[end_language]">
      <option value="ruby">Ruby</option>
      <option value="javascript">JavaScript</option>
      <option value="python">Python</option>
      <option value="java">Java</option>
    </select>
    <br>

    <div class="submit"><input type="submit" value="Submit"></div>
  </form>

</div>
