<div class="container">
  <h1>Answer for <%= @question.query %></h1>

  <form id="new_answer" method="post" action="/questions/<%= @question.id %>/answers">
    <label class="question label" for="original_solution">Original Solution</label>
    <input id="original_solution" type="text" name="original_solution" placeholder="image link">
    <span id="name-errors" class="errors"></span>
    <br>

    <label class="question label" for="original_solution">Delta</label>
    <input type="text" name="delta" placeholder="gif link">
    <span id="name-errors" class="errors"></span>
    <br>

    <label class="question label" for="final_solution">Final Solution</label>
    <input type="text" name="final_solution" placeholder="image link">
    <span id="name-errors" class="errors"></span>
    <br>

    <div class="submit"><input type="submit" value="Submit"></div>
  </form>

</div>
