<div class="container">
  <div id="main-page">
    <h1>What is your favorite language?</h1>
    <div class="hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
          <img width="100px" src="images/ruby.png" alt="ruby image" />
        </div>
        <div class="hover-tile hover-tile-hidden">
          <a href="/questions/ruby">Ruby</a>
        </div>
      </div>
    </div>
    <div class="hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
          <img width="70px" src="images/javascript.png" alt="ruby image" />
        </div>
        <div class="hover-tile hover-tile-hidden">
          <a href="/questions/javascript">JavaScript</a>
        </div>
      </div>
    </div>
    <div class="hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
          <img width="90px" src="images/python.png" alt="ruby image" />
        </div>
        <div class="hover-tile hover-tile-hidden">
          <a href="/questions/python">Python</a>
        </div>
      </div>
    </div>
    <div class="hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
          <img width="40px" src="images/java.png" alt="ruby image" />
        </div>
        <div class="hover-tile hover-tile-hidden">
          <a href="/questions/java">Java</a>
        </div>
      </div>
    </div>
  </div>
</div>
